.mdx-wrapper {
  margin: auto auto;
  padding: 60px 10px;
  font-family: var(--font-geist-sans);  
}

.mdx-wrapper h1 {
  font-size: 48px;
  font-weight: semi-bold;
  font-family: geist;
  
  color: rgba(255, 255, 255, 0.8);
}

.mdx-wrapper h2 {
  font-size: 32px;
  margin-top: 40px;
  font-family: var(--font-instrument);
  font-style: italic;  

}

.mdx-wrapper p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 16px;
}

.mdx-wrapper ul {
  padding-left: 20px;
  margin-bottom: 20px;
}

.mdx-wrapper li {
  margin-bottom: 8px;
}

.mdx-wrapper a {
  color: #0070f3;
  text-decoration: none;
}
.mdx-wrapper img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin: 24px 0;
}